In [104]:
import pandas as pd

In [105]:
categoryTree= pd.read_csv('../dataset/Foursquare_categories_split_Drink.csv', encoding='ISO-8859-1')
categoryTree

,ï»¿L1_Category_name,L1_Category_id,L2_Category_name,L2_Category_id,L3_Category_name,L3_Category_id,L4_Category_name,L4_Category_id,L5_Category_name,L5_Category_id
0,Arts & Entertainment,4d4b7104d754a06370d81259,Arts & Entertainment,4d4b7104d754a06370d81259,NaN,NaN,NaN,NaN,NaN,NaN
1,Arts & Entertainment,4d4b7104d754a06370d81259,Amphitheater,56aa371be4b08b9a8d5734db,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts & Entertainment,4d4b7104d754a06370d81259,Aquarium,4fceea171983d5d06c3e9823,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts & Entertainment,4d4b7104d754a06370d81259,Arcade,4bf58dd8d48988d1e1931735,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts & Entertainment,4d4b7104d754a06370d81259,Art Gallery,4bf58dd8d48988d1e2931735,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
880,Travel & Transport,4d4b7105d754a06379d81259,Train Station,4bf58dd8d48988d129951735,Train,4bf58dd8d48988d12a951735,NaN,NaN,NaN,NaN
881,Travel & Transport,4d4b7105d754a06379d81259,Tram Station,52f2ab2ebcbc57f1066b8b51,NaN,NaN,NaN,NaN,NaN,NaN
882,Travel & Transport,4d4b7105d754a06379d81259,Transportation Service,54541b70498ea6ccd0204bff,NaN,NaN,NaN,NaN,NaN,NaN
883,Travel & Transport,4d4b7105d754a06379d81259,Travel Lounge,4f04b25d2fb6e1c99f3db0c0,NaN,NaN,NaN,NaN,NaN,NaN
884,Travel & Transport,4d4b7105d754a06379d81259,Tunnel,52f2ab2ebcbc57f1066b8b4a,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
a = categoryTree['ï»¿L1_Category_name'][categoryTree['ï»¿L1_Category_name'] == 'Food']
type(a)
b = a.index.tolist()
print(b)

[107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 202, 204, 205, 206, 210, 211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431]

In [107]:
c = categoryTree['L2_Category_name'][b]
c

107                             Food
108                Afghan Restaurant
109               African Restaurant
110              American Restaurant
111              American Restaurant
                   ...
427               Turkish Restaurant
428             Ukrainian Restaurant
429             Ukrainian Restaurant
430    Vegetarian / Vegan Restaurant
431                      Wings Joint
Name: L2_Category_name, Length: 314, dtype: object

In [116]:
l = c[c.values =='Bistro'].index
print(l)

Int64Index([], dtype='int64')

In [119]:
set(c.tolist())

{'Afghan Restaurant',
 'African Restaurant',
 'American Restaurant',
 'Asian Restaurant',
 'Australian Restaurant',
 'Austrian Restaurant',
 'BBQ Joint',
 'Bagel Shop',
 'Bakery',
 'Belgian Restaurant',
 'Breakfast Spot',
 'Buffet',
 'Burger Joint',
 'Cafeteria',
 'Cajun / Creole Restaurant',
 'Caribbean Restaurant',
 'Caucasian Restaurant',
 'Comfort Food Restaurant',
 'Creperie',
 'Czech Restaurant',
 'Deli / Bodega',
 'Dessert Shop',
 'Diner',
 'Donut Shop',
 'Dumpling Restaurant',
 'Dutch Restaurant',
 'Eastern European Restaurant',
 'English Restaurant',
 'Falafel Restaurant',
 'Fast Food Restaurant',
 'Fish & Chips Shop',
 'Fondue Restaurant',
 'Food',
 'Food Court',
 'Food Stand',
 'Food Truck',
 'French Restaurant',
 'Fried Chicken Joint',
 'Friterie',
 'Gastropub',
 'German Restaurant',
 'Greek Restaurant',
 'Halal Restaurant',
 'Hawaiian Restaurant',
 'Hot Dog Joint',
 'Hungarian Restaurant',
 'Indian Restaurant',
 'Italian Restaurant',
 'Jewish Restaurant',
 'Juice Bar',
 'Kebab Restaurant',
 'Latin American Restaurant',
 'Mac & Cheese Joint',
 'Mediterranean Restaurant',
 'Mexican Restaurant',
 'Middle Eastern Restaurant',
 'Modern European Restaurant',
 'Molecular Gastronomy Restaurant',
 'Pakistani Restaurant',
 'Pizza Place',
 'Polish Restaurant',
 'Portuguese Restaurant',
 'Poutine Place',
 'Restaurant',
 'Russian Restaurant',
 'Salad Place',
 'Sandwich Place',
 'Scandinavian Restaurant',
 'Scottish Restaurant',
 'Seafood Restaurant',
 'Slovak Restaurant',
 'Snack Place',
 'Soup Place',
 'Southern / Soul Food Restaurant',
 'Spanish Restaurant',
 'Sri Lankan Restaurant',
 'Steakhouse',
 'Swiss Restaurant',
 'Theme Restaurant',
 'Truck Stop',
 'Turkish Restaurant',
 'Ukrainian Restaurant',
 'Vegetarian / Vegan Restaurant',
 'Wings Joint'}